  .input_box {
    width: 100%;
    position: relative;
  }
  
  .input_box > label {
    position: absolute;
    top: -10px;
    left: 5px;
    background: #ebf5fe;
    padding: 0 5px;
    color: #4875f7;
    font-weight: 500;
  }
  
  textarea {
    background: transparent;
    padding: 10px;
    border-radius: 11px;
    border: 2px solid #4875f7;
    width: 100%;
    min-height: 155px;
    font-size: 16px;
  }

  .input_box textarea:focus {
    outline: none;
    border: 2.5px solid #be4ed4;
  }