.description_wrapper {
  width: 100%;
  position: relative;
}
  
  .input_box {
    width: 100%;
    position: relative;
  }
  
  .input_box > label {
    position: absolute;
    top: -10px;
    left: 5px;
    background: #ebf5fe;
    padding: 0 5px;
    color: #4875f7;
    font-weight: 500;
  }
  
  textarea {
    background: transparent;
    padding: 10px;
    border-radius: 11px;
    width: 100%;
    z-index: 1;
  }

  .input_box textarea:focus {
    outline: none;
  }

  .error_container_comment {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .error_message {
    background: transparent;
    padding: 15px 10px 10px 10px;
    border-radius: 11px;
    border: none;
  }
  
  .required_icon {
    fill: #be4ed4;
  }

  @media (max-width: 359px) {

    .input_box > label {
      font-size: 16px;
    }
 
    textarea {
      border: 2px solid #4875f7;
      font-size: 16px;
      min-height: 150px;
    }

    .input_box textarea:focus {
      border: 2.7px solid #be4ed4;
    }

    .error_container_comment {
      width: 80px;
    }

    .error_message {
      font-size: 16px;
    }
  
    .required_icon {
      font-size: 16px;
    }
  }
  
  @media (min-width: 360px) and (max-width: 389px) {
  
    .input_box > label {
      font-size: 18px;
    }

    textarea {
      border: 2.5px solid #4875f7;
      font-size: 18px;
      min-height: 170px;
    }

    .input_box textarea:focus {
      border: 2.7px solid #be4ed4;
    }

    .error_container_comment {
      width: 95px;
    }

    .error_message {
      font-size: 18px;
    }
  
    .required_icon {
      font-size: 18px;
    }
  }
  
  @media (min-width: 390px) and (max-width: 427px) {
  
    .input_box > label {
      font-size: 20px;
    }

    textarea {
      border: 2.8px solid #4875f7;
      font-size: 20px;
      min-height: 250px;
    }

    .input_box textarea:focus {
      border: 3px solid #be4ed4;
    }

    .error_container_comment {
      width: 100px;
    }

    .error_message {
      font-size: 20px;
    }
  
    .required_icon {
      font-size: 20px;
    }
  }
  
  @media (min-width: 428px) and (max-width: 479px) {
  
    .input_box > label {
      font-size: 22px;
    }

    textarea {
      border: 2.8px solid #4875f7;
      font-size: 22px;
      min-height: 250px;
    }

    .input_box textarea:focus {
      border: 3.5px solid #be4ed4;
    }

    .error_container_comment {
      width: 110px;

    }

    .error_message {
      font-size: 22px;
    }
  
    .required_icon {
      font-size: 22px;
    }
  }
  
  @media (min-width: 480px) and (max-width: 480px) {
  
    .input_box > label {
      font-size: 24px;
    }

    textarea {
      border: 2.8px solid #4875f7;
      font-size: 24px;
      min-height: 200px;
    }

    .input_box textarea:focus {
      border: 3.5px solid #be4ed4;
    }

    .error_container_comment {
      width: 110px;
    }

    .error_message {
      font-size: 22px;
    }
  
    .required_icon {
      font-size: 22px;
    }
  }