.question_container {
    min-height: 75vh;
    width: calc(100vw-40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.question p {
    font-weight: 700;
}

.question_title {
    font-weight: 500;
}

.num_question {
    border: 1px solid #3875f6;
    background-color: #3875f6;  
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    position: absolute;
}   

.answers_block {
    width: calc(100vw-40px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btns_answers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.btns_answers button {
    border: 1px solid transparent;
    cursor: pointer;
    background: transparent;
}

.btn_container {
    display:flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.circle {
    stroke: #be4ed4;
    /* stroke-width: 2.5px; */
    fill: transparent;
    transform-origin: center;
    transform: rotate(-90deg)
}

/* (min-width: 320px) and  */
@media (max-width: 359px) {

    .btns_answers button {
        width: 40px;
        height: 40px;
    }

    .btns_answers img {
        width: 40px;
        height: 40px;
    }

    .question_title {
        font-size: 16px;
    }

    .num_question {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        font-size: 16px;

        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .question p {
        font-size: 16px;
    }

    .btn_back {
        font-size: 16px;
    }

    .progress_ring {
        width: 45px;
        height: 45px;
    }

    .circle {
        /* stroke: #be4ed4; */
        stroke-width: 2.5px;
        /* fill: transparent;
        transform-origin: center;
        transform: rotate(-90deg) */
    }

}

@media (min-width: 360px) and (max-width: 389px) {

    .btns_answers button {
        width: 43px;
        height: 43px;
    }

    .btns_answers img {
        width: 43px;
        height: 43px;
    }

    .question_title {
        font-size: 18px;
    }

    .num_question {
        width: 38px;
        height: 38px;
        border-radius: 30px;
        font-size: 18px;

        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .question p {
        font-size: 18px;
    }

    .btn_back {
        font-size: 18px;
    }

    .progress_ring {
        width: 48px;
        height: 48px;
    }

    .circle {
        stroke-width: 3px;
    }
}

@media (min-width: 390px) and (max-width: 427px) {

    .btns_answers button {
        width: 46px;
        height: 46px;
    }

    .btns_answers img {
        width: 46px;
        height: 46px;
    }

    .question_title {
        font-size: 20px;
    }

    .num_question {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        font-size: 20px;

        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .question p {
        font-size: 20px;
    }

    .btn_back {
        font-size: 20px;
    }

    .progress_ring {
        width: 50px;
        height: 50px;
    }

    .circle {
        stroke-width: 3px;
    }
}

@media (min-width: 428px) and (max-width: 479px) {

    .btns_answers button {
        width: 51px;
        height: 51px;
    }

    .btns_answers img {
        width: 51px;
        height: 51px;
    }

    .question_title {
        font-size: 22px;
    }

    .num_question {
        width: 46px;
        height: 46px;
        border-radius: 30px;
        font-size: 22px;

        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .question p {
        font-size: 22px;
    }

    .btn_back {
        font-size: 22px;
    }

    .progress_ring {
        width: 56px;
        height: 56px;
    }

    .circle {
        stroke-width: 3px;
    }
}

/* and (max-width: 480px) */
@media (min-width: 480px) {

    .btns_answers button {
        width: 58px;
        height: 58px;
    }

    .btns_answers img {
        width: 58px;
        height: 58px;
    }

    .question_title {
        font-size: 24px;
    }

    .num_question {
        width: 53px;
        height: 53px;
        border-radius: 30px;
        font-size: 24px;

        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .question p {
        font-size: 24px;
    }

    .btn_back {
        font-size: 24px;
    }

    .progress_ring {
        width: 63px;
        height: 63px;
    }

    .circle {
        stroke-width: 3px;
    }    
}

.btns_back_help {
    display: flex;
    justify-content: space-between; 
    
}

.btn_back {
    padding: 12px 15px;
    border-radius: 50px;
    border: 1px solid transparent;
    color: white;
    font-weight: 500; 
    background-color: #3875f6;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.analitica {
    width: 1px;
    height: 1px;
}