.question_container {
    min-height: 75vh;
    width: calc(100vw-40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

    /* position: relative; */
}

.question {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* position: relative; */
}

.question p {
    font-weight: 700;
}

.question_title {
    font-weight: 500;
}

.num_question {
    border-radius: 15px; 
    background-color: #3875f6;  
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    position: absolute;
}   

.answers_block {
    width: calc(100vw-40px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btns_answers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.btns_answers button {
    border: 1px solid transparent;
    cursor: pointer;
    background: transparent;
}

.num_question_container {
    display: flex;
    position: relative;
}

.progressbar_1 {
    position: absolute;
    background-color: #be4ed4;
    border-radius: 35px 0 0 35px;
    z-index: -1;
}

.progressbar_2 {
    position: absolute;
    background-color: #be4ed4;
    border-radius: 0 35px 35px 0;
    z-index: -1;
}

@media (min-width: 320px) and (max-width: 359px) {

    .btns_answers button {
        width: 40px;
        height: 40px;
    }

    .btns_answers img {
        width: 40px;
        height: 40px;
    }

    .question_title {
        font-size: 16px;
    }

    .num_question {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-size: 16px;
        bottom: 10px;
        left: 10px;
    }

    .question p {
        font-size: 16px;
    }

    .btn_back {
        font-size: 16px;
    }

    /* .num_question_container {
        min-height: 100px;
    } */

    .progressbar_1 {
        width: 30px;
        height: 60px;
        left: 0;
        bottom: 0;
    }

    .progressbar_2 {
        width: 30px;
        height: 60px;
        left: 30px;
        bottom: 0;
    }

}

@media (min-width: 360px) and (max-width: 389px) {

    .btns_answers button {
        width: 43px;
        height: 43px;
    }

    .btns_answers img {
        width: 43px;
        height: 43px;
    }

    .question_title {
        font-size: 18px;
    }

    .num_question {
        width: 43px;
        height: 43px;
        border-radius: 30px;
        font-size: 18px;
    }

    .question p {
        font-size: 18px;
    }

    .btn_back {
        font-size: 18px;
    }
}

@media (min-width: 390px) and (max-width: 427px) {

    .btns_answers button {
        width: 46px;
        height: 46px;
    }

    .btns_answers img {
        width: 46px;
        height: 46px;
    }

    .question_title {
        font-size: 20px;
    }

    .num_question {
        width: 43px;
        height: 43px;
        border-radius: 30px;
        font-size: 20px;
    }

    .question p {
        font-size: 20px;
    }

    .btn_back {
        font-size: 20px;
    }
}

@media (min-width: 428px) and (max-width: 479px) {

    .btns_answers button {
        width: 51px;
        height: 51px;
    }

    .btns_answers img {
        width: 51px;
        height: 51px;
    }

    .question_title {
        font-size: 22px;
    }

    .num_question {
        width: 43px;
        height: 43px;
        border-radius: 30px;
        font-size: 22px;
    }

    .question p {
        font-size: 22px;
    }

    .btn_back {
        font-size: 22px;
    }
}

@media (min-width: 480px) and (max-width: 480px) {

    .btns_answers button {
        width: 58px;
        height: 58px;
    }

    .btns_answers img {
        width: 58px;
        height: 58px;
    }

    .question_title {
        font-size: 24px;
    }

    .num_question {
        width: 43px;
        height: 43px;
        border-radius: 30px;
        font-size: 24px;
    }

    .question p {
        font-size: 24px;
    }

    .btn_back {
        font-size: 24px;
    }
}

.btns_back_help {
    display: flex;
    justify-content: space-between; 
    
}

.btn_back {
    padding: 12px 15px;
    border-radius: 50px;
    border: 1px solid transparent;
    color: white;
    font-weight: 500; 
    background-color: #3875f6;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.analitica {
    width: 1px;
    height: 1px;
}