.btn {
    padding: 12px 15px;
    border-radius: 50px;
    border: 1px solid transparent;
    color: white;
    font-weight: 500; 
    background-color: #3875f6;
}

.btn_start_page {
    visibility: hidden;
    animation-name: start_page_btn;
    animation-delay: 8.5s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/* .btn_select_problem_page {
    display: none;
    visibility: hidden;
    
    animation-name: select_problem_page_btn;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
} */

@media (min-width: 320px) and (max-width: 359px) {

    .btn, 
    .btn_start_page {
        font-size: 16px;
    }
}

@media (min-width: 360px) and (max-width: 389px) {

    .btn,
    .btn_start_page {
        font-size: 18px;
    }   
}

@media (min-width: 390px) and (max-width: 427px) {
    .btn,
    .btn_start_page {
        font-size: 20px;
    }   
}

@media (min-width: 428px) and (max-width: 479px) {

    .btn,
    .btn_start_page {
        font-size: 22px;
    }   
}    

@media (min-width: 480px) and (max-width: 480px) {

    .btn,
    .btn_start_page {
        font-size: 24px;
    }   
}

@keyframes start_page_btn {
    from { 
        visibility: hidden;
      }
    to { 
        visibility: visible; 
    }
    0% {background-color: rgba(56, 117, 246, 0);}
    100% {background-color: rgba(56, 117, 246, 1);}
}

/* @keyframes select_problem_page_btn {
    from { 
        visibility: hidden;
      }
    to { 
        visibility: visible; 
    }
    0% {background-color: rgba(56, 117, 246, 0);}
    100% {background-color: rgba(56, 117, 246, 1);}
} */