@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    color:#101011;    
}

/* https://www.icwebdesign.co.uk/common-viewport-sizes */
/* https://highload.today/kak-ispolzovat-media-zaprosy-v-css/amp/ */

.content_wrapper {
    /* min-height: 568px; provides background to all height of content at a screen less then 568px */
    min-height: 100vh; /*provides page's height acourding to media-query*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 119, 245, 0.09);
}

.background_img {
    background-repeat: repeat-y;
    opacity: 1;
}



/* iPhone 5 - 320 x 568 */
@media (min-width: 320px) and (max-width: 359px) {

    .content_wrapper {
        min-width: 320px;
        max-width: 359px;
    }

    .background_img {
        background-image: url('./media/drawing_320.svg');
        background-position: -31px 57px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;     
    }
} 

/* Samsung Galaxy S8+ - 360 x 740 */
@media (min-width: 360px) and (max-width: 389px) {

    .content_wrapper {
        min-width: 360px;
        max-width: 389px;
    }

    .background_img {
        background-image: url('./media/drawing_360.svg');
        background-position: -25px 57px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 18px;     
    }
}    

/* iPhone 12 Pro -  390 x 844 */
@media (min-width: 390px) and (max-width: 427px) {

    .content_wrapper {
        min-width: 390px;
        max-width: 427px;
    }

    .background_img {
        background-image: url('./media/drawing_360.svg');
        background-position: -25px 70px;
    }

    h2 {
        font-size: 34px;
    }

    p {
        font-size: 20px;     
    }
}    

/* iPhone 12 Pro Max -  428 x 926 */
@media (min-width: 428px) and (max-width: 479px) {

    .content_wrapper {
        min-width: 428px;
        max-width: 479px;
    }

    .background_img {
        background-image: url('./media/drawing_390.svg');
        background-position: -25px 75px;
    }

    h2 {
        font-size: 38px;
    }

    p {
        font-size: 22px;     
    }
}    

/* Samsung Galaxy Note 5 - 480 x 853 */
@media (min-width: 480px) and (max-width: 480px) {

    .content_wrapper {
        min-width: 480px;
        max-width: 480px;
    }

    .background_img {
        background-image: url('./media/drawing_390.svg');
        background-position: -25px 75px;
    }

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 24px;     
    }
} 